.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 320px;
}

.container div {
    box-sizing: border-box;
    border: .5px solid red;
    height: 20px;
    width: 20px;
}

.pixel{
    background-color: grey;
}